alabaster==0.7.12
alembic==1.7.6.dev0
amqp==5.0.9
ansible-base==2.10.8
apache-libcloud==3.2.0
apparmor==3.0.4
appdirs==1.4.4
apt-clone==0.2.1
apt-xapian-index==0.49
apturl==0.5.2
argcomplete==1.8.1
argparse-manpage==1.2.2
asn1crypto==1.4.0
astroid==2.9.3
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
autopage==0.4.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
blinker==1.4
boto==2.49.0
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
bsddb3==6.2.9
certifi==2020.6.20
chardet==4.0.0
cheroot==8.5.2+ds1
CherryPy==18.6.1
chrome-gnome-shell==0.0.0
click==8.0.3
cliff==3.10.0
cmd2==0.0.0
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
crochet==2.0.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
d2to1==0.2.12
dblatex==0.3.12
dbus-python==1.2.18
debugpy==1.8.1
decorator==4.4.2
defer==1.0.6
Deprecated==1.2.13
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.1.0
docutils==0.17.1
dulwich==0.20.31
duplicity==0.8.21
entrypoints==0.4
et-xmlfile==1.1.0
extras==1.0.0
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
feedparser==6.0.8
filelock==3.6.0
fixtures==3.0.0
Flask==2.0.1
fonttools==4.29.1
FormEncode==2.0.1
fs==2.4.12
fsspec==2024.3.1
fuse-python==1.0.2
future==0.18.2
gast==0.5.2
Genshi==0.7.6
GeoIP==1.3.2
germinate==2.38
gpg==1.16.0
greenlet==1.1.2
gyp==0.1
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.3.0
importlib-metadata==4.6.4
incremental==21.3.0
iniconfig==1.1.1
iotop==0.6
IPy==1.1
ipykernel==6.29.4
ipython==7.31.1
ipython_genutils==0.2.0
iso8601==1.0.2
itsdangerous==2.1.0
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.text==3.6.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.4
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
jupyter_client==8.6.1
jupyter_core==5.7.2
keyring==23.5.0
keyrings.alt==4.1.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==0.0.0
lib389==1.4.0.1
LibAppArmor==3.0.4
linecache2==1.0.0
lockfile==0.12.2
logilab-common==1.8.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mercurial==6.1.1
mod_python==3.5.0+git20211031
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
mutagen==1.45.1
mypy-extensions==0.4.3
mysqlclient==1.4.6
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==2.4
nine==1.1.0
ntlm-auth==1.4.0
numpy==1.24.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
openpyxl==3.1.5
packaging==21.3
padme==1.1.1
PAM==0.4.2
pandas==2.2.3
paramiko==2.9.3
parso==0.8.1
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
patiencediff==0.2.1
patsy==1.0.1
pbr==5.8.0
pep8==1.7.1
petname==2.6
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==2.5.1
plot3d==1.6.7
pluggy==0.13.0
ply==3.11
polib==1.1.1
portend==3.0.0
prettytable==2.5.0
proglog==0.1.10
prompt-toolkit==3.0.28
protobuf==3.12.4
pssh==2.3.4
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pydot==1.4.2
pydotplus==2.0.2
pyelftools==0.27
pyFFTW==0.15.0
PyGithub==1.55
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pykerberos==1.1.14
pylibacl==0.6.0
pymacaroons==0.13.0
pymongo==3.11.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-gitlab==2.10.1
python-ldap==3.2.0
python-magic==0.4.24
python-mimeparse==1.6.0
python-seamicroclient==0.4.0+2016.5.20.git.40ee44c664
python-subunit==1.4.0
python-tx-tftp==0.2
python-xlib==0.29
pythran==0.10.0
pytz==2022.1
pyudev==0.22.0
pyvmomi==6.7.1
pywinrm==0.3.0
pyxattr==0.7.2
pyxdg==0.27
pyxs==0.4.2.dev0
PyYAML==5.4.1
pyzmq==26.0.2
reportlab==3.6.8
repoze.lru==0.7
requests==2.25.1
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
roman==3.3
Routes==2.5.1
scipy==1.8.0
scour==0.38.2
scripttest==1.3
SecretStorage==3.3.1
selinux==3.3
sepolicy==3.3
service-identity==18.1.0
setools==4.4.0
setproctitle==1.2.2
sgmllib3k==1.0.0
simplegeneric==0.8.1
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.3.2
sphinx-rtd-theme==1.0.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
ssh-import-id==5.11
statsmodels==0.14.4
stevedore==3.5.0
sympy==1.9
systemd-python==234
Tempita==0.5.2
tempora==4.1.2
testrepository==0.0.20
testtools==2.5.0
toml==0.10.2
torch==2.4.0
tornado==6.4
tqdm==4.67.1
traitlets==5.14.3
triton==3.0.0
Twisted==22.1.0
typing_extensions==4.11.0
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unidiff==0.5.5
unittest2==1.1.0
urllib3==1.26.5
usb-creator==0.3.7
uvloop==0.16.0
vine==5.0.0
virtualenv==20.13.0+ds
voluptuous==0.12.2
wadllib==1.3.6
waitress==1.4.4
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.6
websockets==9.1
WebTest==2.0.35
Werkzeug==2.0.2
wrapt==1.13.3
xdg==5
xdot==1.2
xkit==0.0.0
XlsxWriter==3.2.2
xmltodict==0.12.0
youtube-dl==2021.12.17
yt-dlp==2022.4.8
zc.lockfile==2.0
zipp==1.0.0
zope.interface==5.4.0
